# .gitattributes for pysilfont

# Based on https://github.com/alexkaratarakis/gitattributes/blob/master/Python.gitattributes
# plus additions for pysilfont

# Designed to tell git how to best deal with certain file formats 
# The goal for eols is to have LF in the repo and platform-specific
# endings, when appropriate, in the working copy on all platforms.
# To tweak to your particular needs, 
# see https://git-scm.com/book/en/Customizing-Git-Git-Attributes

# The following causes git to auto detect text files which will have eol 
# conversion applied according to core.autocrlf and core.eol 
* text=auto


# Text files
# ============
*.md     text
*.fea*   text
*.pxd    text
*.py     text
*.py3    text
*.pyw    text
*.pyx    text
*.sh     text
*.txt    text

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pyc    binary
*.pyd    binary
*.pyo    binary
*.png    binary

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).