*.pyc
*.log
*~
*.sw?


installed-files.txt
pysilfont.cfg

/build
/dist
/local
/dev
/venv

/lib/pysilfont.egg-info
/pysilfont.egg-info
/setuptools-*
/.pytest_cache
/tests/localufos.csv

.idea

.DS_Store
