[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
glyphsLib = "==2.4.0"
fontTools = "*"
defcon = {git = "https://github.com/typesupply/defcon.git", ref = "0.3.4"}
ufoLib = "*"
lz4 = "*"
mutatorMath = "*"
designSpaceDocument = {git = "https://github.com/LettError/designSpaceDocument.git", ref = "master"}
fontMath = "*"
cu2qu = "*"
compreffor = "*"
booleanOperations = "*"
odfpy = "*"
fontParts = "*"
ufo2ft = "*"

[dev-packages]
glyphsLib = "==2.4.0"
fontTools = "*"
defcon = "*"
ufoLib = "*"
lz4 = "*"
mutatorMath = "*"
designSpaceDocument = {git = "https://github.com/LettError/designSpaceDocument.git", ref = "master"}
fontMath = "*"
cu2qu = "*"
compreffor = "*"
booleanOperations = "*"
odfpy = "*"
fontParts = "*"
ufo2ft = "*"
pytest = "*"

[requires]
# python_version = "2.7"
python_version = "3.5"

