-i https://pypi.python.org/simple
booleanoperations==0.8.0
compreffor==0.4.6.post1
cu2qu==1.5.0
defcon==0.5.2
fontmath==0.4.7
fontparts==0.8.0
fontpens==0.1.0
fonttools==3.29.0
future==0.16.0
glyphslib==2.4.0
lz4==2.1.0
mutatormath==2.1.1
odfpy==1.3.6
pyclipper==1.1.0.post1
ufo2ft==2.2.0
ufolib==2.3.1
