<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.github.googlei18n.ufo2ft.filters</key>
  <array>
    <dict>
      <key>name</key>
      <string>eraseOpenCorners</string>
      <key>namespace</key>
      <string>glyphsLib.filters</string>
      <key>pre</key>
      <true/>
    </dict>
  </array>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1165</string>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>700</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Bold</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>700</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>org.sil.lcg.toneLetters</key>
  <dict>
    <key>contourWidth</key>
    <integer>540</integer>
    <key>dotSize</key>
    <integer>280</integer>
    <key>dotSpacing</key>
    <integer>200</integer>
    <key>glyphDepth</key>
    <integer>-25</integer>
    <key>glyphHeight</key>
    <integer>1600</integer>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>marginDotLeft</key>
    <integer>100</integer>
    <key>marginDotRight</key>
    <integer>140</integer>
    <key>marginFlatLeft</key>
    <integer>100</integer>
    <key>marginFlatRight</key>
    <integer>140</integer>
    <key>marginPointLeft</key>
    <integer>80</integer>
    <key>marginPointRight</key>
    <integer>120</integer>
    <key>strokeThickness</key>
    <integer>200</integer>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Space</string>
    <string>ExclamationMrk</string>
    <string>QuotMrk</string>
    <string>NumSgn</string>
    <string>DollarSgn</string>
    <string>PercentSgn</string>
    <string>Ampersand</string>
    <string>Apos</string>
    <string>LftParen</string>
    <string>RtParen</string>
    <string>Asterisk</string>
    <string>PlusSgn</string>
    <string>Comma</string>
    <string>HyphenMinus</string>
    <string>FullStop</string>
    <string>Solidus</string>
    <string>DigitZero</string>
    <string>DigitOne</string>
    <string>DigitTwo</string>
    <string>DigitThree</string>
    <string>DigitFour</string>
    <string>DigitFive</string>
    <string>DigitSix</string>
    <string>DigitSeven</string>
    <string>DigitEight</string>
    <string>DigitNine</string>
    <string>Colon</string>
    <string>Semicolon</string>
    <string>LTSgn</string>
    <string>EqSgn</string>
    <string>GTSgn</string>
    <string>QstnMrk</string>
    <string>AtSgn</string>
    <string>LtnCapA</string>
    <string>LtnCapA.alt</string>
    <string>LtnCapB</string>
    <string>LtnCapC</string>
    <string>LtnCapD</string>
    <string>LtnCapE</string>
    <string>LtnCapF</string>
    <string>LtnCapG</string>
    <string>LtnCapH</string>
    <string>LtnCapI</string>
    <string>LtnCapJ</string>
    <string>LtnCapK</string>
    <string>LtnCapL</string>
    <string>LtnCapM</string>
    <string>LtnCapN</string>
    <string>LtnCapO</string>
    <string>LtnCapP</string>
    <string>LtnCapQ</string>
    <string>LtnCapR</string>
    <string>LtnCapS</string>
    <string>LtnCapT</string>
    <string>LtnCapU</string>
    <string>LtnCapV</string>
    <string>LtnCapW</string>
    <string>LtnCapX</string>
    <string>LtnCapY</string>
    <string>LftSqrBrac</string>
    <string>ReverseSolidus</string>
    <string>RtSqrBrac</string>
    <string>CircumAccent</string>
    <string>LowLine</string>
    <string>GraveAccent</string>
    <string>LtnSmA</string>
    <string>LtnSmB</string>
    <string>LtnSmC</string>
    <string>LtnSmD</string>
    <string>LtnSmE</string>
    <string>LtnSmF</string>
    <string>LtnSmG</string>
    <string>LtnSmH</string>
    <string>LtnSmI</string>
    <string>LtnSmJ</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmQ</string>
    <string>LtnSmR</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmU</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmX</string>
    <string>LtnSmY</string>
    <string>LftCurlyBrac</string>
    <string>VertLine</string>
    <string>RtCurlyBrac</string>
    <string>Tilde</string>
    <string>LtnCapADiaer</string>
    <string>LtnSmAAcute</string>
    <string>LtnSmAGrave</string>
    <string>LtnSmACircum</string>
    <string>LtnSmADiaer</string>
    <string>LtnSmATilde</string>
    <string>LtnSmARingAbv</string>
    <string>DottedCirc</string>
    <string>Hyphen</string>
    <string>NonBreakingHyphen</string>
    <string>Hyphen_Soft</string>
    <string>CombAcute</string>
    <string>CombGrave</string>
    <string>CombCircum</string>
    <string>CombTilde</string>
    <string>CombDiaer</string>
    <string>CombRingAbv</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Ampersand</key>
    <string>ampersand</string>
    <key>Apos</key>
    <string>quotesingle</string>
    <key>Asterisk</key>
    <string>asterisk</string>
    <key>AtSgn</key>
    <string>at</string>
    <key>CircumAccent</key>
    <string>asciicircum</string>
    <key>Colon</key>
    <string>colon</string>
    <key>CombAcute</key>
    <string>acutecomb</string>
    <key>CombCircum</key>
    <string>uni0302</string>
    <key>CombDiaer</key>
    <string>uni0308</string>
    <key>CombGrave</key>
    <string>gravecomb</string>
    <key>CombRingAbv</key>
    <string>uni030A</string>
    <key>CombTilde</key>
    <string>tildecomb</string>
    <key>Comma</key>
    <string>comma</string>
    <key>DigitEight</key>
    <string>eight</string>
    <key>DigitFive</key>
    <string>five</string>
    <key>DigitFour</key>
    <string>four</string>
    <key>DigitNine</key>
    <string>nine</string>
    <key>DigitOne</key>
    <string>one</string>
    <key>DigitSeven</key>
    <string>seven</string>
    <key>DigitSix</key>
    <string>six</string>
    <key>DigitThree</key>
    <string>three</string>
    <key>DigitTwo</key>
    <string>two</string>
    <key>DigitZero</key>
    <string>zero</string>
    <key>DollarSgn</key>
    <string>dollar</string>
    <key>DottedCirc</key>
    <string>uni25CC</string>
    <key>EqSgn</key>
    <string>equal</string>
    <key>ExclamationMrk</key>
    <string>exclam</string>
    <key>FullStop</key>
    <string>period</string>
    <key>GTSgn</key>
    <string>greater</string>
    <key>GraveAccent</key>
    <string>grave</string>
    <key>Hyphen</key>
    <string>uni2010</string>
    <key>HyphenMinus</key>
    <string>hyphen</string>
    <key>Hyphen_Soft</key>
    <string>uni00AD</string>
    <key>LTSgn</key>
    <string>less</string>
    <key>LftCurlyBrac</key>
    <string>braceleft</string>
    <key>LftParen</key>
    <string>parenleft</string>
    <key>LftSqrBrac</key>
    <string>bracketleft</string>
    <key>LowLine</key>
    <string>underscore</string>
    <key>LtnCapA</key>
    <string>A</string>
    <key>LtnCapA.alt</key>
    <string>A</string>
    <key>LtnCapADiaer</key>
    <string>Adieresis</string>
    <key>LtnCapB</key>
    <string>B</string>
    <key>LtnCapC</key>
    <string>C</string>
    <key>LtnCapD</key>
    <string>D</string>
    <key>LtnCapE</key>
    <string>E</string>
    <key>LtnCapF</key>
    <string>F</string>
    <key>LtnCapG</key>
    <string>G</string>
    <key>LtnCapH</key>
    <string>H</string>
    <key>LtnCapI</key>
    <string>I</string>
    <key>LtnCapJ</key>
    <string>J</string>
    <key>LtnCapK</key>
    <string>K</string>
    <key>LtnCapL</key>
    <string>L</string>
    <key>LtnCapM</key>
    <string>M</string>
    <key>LtnCapN</key>
    <string>N</string>
    <key>LtnCapO</key>
    <string>O</string>
    <key>LtnCapP</key>
    <string>P</string>
    <key>LtnCapQ</key>
    <string>Q</string>
    <key>LtnCapR</key>
    <string>R</string>
    <key>LtnCapS</key>
    <string>S</string>
    <key>LtnCapT</key>
    <string>T</string>
    <key>LtnCapU</key>
    <string>U</string>
    <key>LtnCapV</key>
    <string>V</string>
    <key>LtnCapW</key>
    <string>W</string>
    <key>LtnCapX</key>
    <string>X</string>
    <key>LtnCapY</key>
    <string>Y</string>
    <key>LtnSmA</key>
    <string>a</string>
    <key>LtnSmAAcute</key>
    <string>aacute</string>
    <key>LtnSmACircum</key>
    <string>acircumflex</string>
    <key>LtnSmADiaer</key>
    <string>adieresis</string>
    <key>LtnSmAGrave</key>
    <string>agrave</string>
    <key>LtnSmARingAbv</key>
    <string>aring</string>
    <key>LtnSmATilde</key>
    <string>atilde</string>
    <key>LtnSmB</key>
    <string>b</string>
    <key>LtnSmC</key>
    <string>c</string>
    <key>LtnSmD</key>
    <string>d</string>
    <key>LtnSmE</key>
    <string>e</string>
    <key>LtnSmF</key>
    <string>f</string>
    <key>LtnSmG</key>
    <string>g</string>
    <key>LtnSmH</key>
    <string>h</string>
    <key>LtnSmI</key>
    <string>i</string>
    <key>LtnSmJ</key>
    <string>j</string>
    <key>LtnSmK</key>
    <string>k</string>
    <key>LtnSmL</key>
    <string>l</string>
    <key>LtnSmM</key>
    <string>m</string>
    <key>LtnSmN</key>
    <string>n</string>
    <key>LtnSmO</key>
    <string>o</string>
    <key>LtnSmP</key>
    <string>p</string>
    <key>LtnSmQ</key>
    <string>q</string>
    <key>LtnSmR</key>
    <string>r</string>
    <key>LtnSmS</key>
    <string>s</string>
    <key>LtnSmT</key>
    <string>t</string>
    <key>LtnSmU</key>
    <string>u</string>
    <key>LtnSmV</key>
    <string>v</string>
    <key>LtnSmW</key>
    <string>w</string>
    <key>LtnSmX</key>
    <string>x</string>
    <key>LtnSmY</key>
    <string>y</string>
    <key>NonBreakingHyphen</key>
    <string>uni2011</string>
    <key>NumSgn</key>
    <string>numbersign</string>
    <key>PercentSgn</key>
    <string>percent</string>
    <key>PlusSgn</key>
    <string>plus</string>
    <key>QstnMrk</key>
    <string>question</string>
    <key>QuotMrk</key>
    <string>quotedbl</string>
    <key>ReverseSolidus</key>
    <string>backslash</string>
    <key>RtCurlyBrac</key>
    <string>braceright</string>
    <key>RtParen</key>
    <string>parenright</string>
    <key>RtSqrBrac</key>
    <string>bracketright</string>
    <key>Semicolon</key>
    <string>semicolon</string>
    <key>Solidus</key>
    <string>slash</string>
    <key>Space</key>
    <string>space</string>
    <key>Tilde</key>
    <string>asciitilde</string>
    <key>VertLine</key>
    <string>bar</string>
  </dict>
</dict>
</plist>
