<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>Ampergravel</key>
  <string>A_mpergravel.glif</string>
  <key>Ampersand</key>
  <string>A_mpersand.glif</string>
  <key>Apos</key>
  <string>A_pos.glif</string>
  <key>Asterisk</key>
  <string>A_sterisk.glif</string>
  <key>AtSgn</key>
  <string>A_tS_gn.glif</string>
  <key>CircumAccent</key>
  <string>C_ircumA_ccent.glif</string>
  <key>Colon</key>
  <string>C_olon.glif</string>
  <key>CombAcute</key>
  <string>C_ombA_cute.glif</string>
  <key>CombCircum</key>
  <string>C_ombC_ircum.glif</string>
  <key>CombDiaer</key>
  <string>C_ombD_iaer.glif</string>
  <key>CombGrave</key>
  <string>C_ombG_rave.glif</string>
  <key>CombRingAbv</key>
  <string>C_ombR_ingA_bv.glif</string>
  <key>CombTilde</key>
  <string>C_ombT_ilde.glif</string>
  <key>Comma</key>
  <string>C_omma.glif</string>
  <key>DigitEight</key>
  <string>D_igitE_ight.glif</string>
  <key>DigitFive</key>
  <string>D_igitF_ive.glif</string>
  <key>DigitFour</key>
  <string>D_igitF_our.glif</string>
  <key>DigitNine</key>
  <string>D_igitN_ine.glif</string>
  <key>DigitOne</key>
  <string>D_igitO_ne.glif</string>
  <key>DigitSeven</key>
  <string>D_igitS_even.glif</string>
  <key>DigitSix</key>
  <string>D_igitS_ix.glif</string>
  <key>DigitThree</key>
  <string>D_igitT_hree.glif</string>
  <key>DigitTwo</key>
  <string>D_igitT_wo.glif</string>
  <key>DigitZero</key>
  <string>D_igitZ_ero.glif</string>
  <key>DollarSgn</key>
  <string>D_ollarS_gn.glif</string>
  <key>DottedCirc</key>
  <string>D_ottedC_irc.glif</string>
  <key>EqSgn</key>
  <string>E_qS_gn.glif</string>
  <key>ExclamationMrk</key>
  <string>E_xclamationM_rk.glif</string>
  <key>FullStop</key>
  <string>F_ullS_top.glif</string>
  <key>Fullstart</key>
  <string>F_ullstart.glif</string>
  <key>GTSgn</key>
  <string>G_T_S_gn.glif</string>
  <key>GraveAccent</key>
  <string>G_raveA_ccent.glif</string>
  <key>Hyphen</key>
  <string>H_yphen.glif</string>
  <key>HyphenMinus</key>
  <string>H_yphenM_inus.glif</string>
  <key>Hyphen_Soft</key>
  <string>H_yphen_S_oft.glif</string>
  <key>LTSgn</key>
  <string>L_T_S_gn.glif</string>
  <key>LftCurlyBrac</key>
  <string>L_ftC_urlyB_rac.glif</string>
  <key>LftParen</key>
  <string>L_ftP_aren.glif</string>
  <key>LftSqrBrac</key>
  <string>L_ftS_qrB_rac.glif</string>
  <key>LowLine</key>
  <string>L_owL_ine.glif</string>
  <key>LtnCapA</key>
  <string>L_tnC_apA_.glif</string>
  <key>LtnCapA.alt</key>
  <string>L_tnC_apA_.alt.glif</string>
  <key>LtnCapADiaer</key>
  <string>L_tnC_apA_D_iaer.glif</string>
  <key>LtnCapB</key>
  <string>L_tnC_apB_.glif</string>
  <key>LtnCapC</key>
  <string>L_tnC_apC_.glif</string>
  <key>LtnCapD</key>
  <string>L_tnC_apD_.glif</string>
  <key>LtnCapE</key>
  <string>L_tnC_apE_.glif</string>
  <key>LtnCapF</key>
  <string>L_tnC_apF_.glif</string>
  <key>LtnCapG</key>
  <string>L_tnC_apG_.glif</string>
  <key>LtnCapH</key>
  <string>L_tnC_apH_.glif</string>
  <key>LtnCapI</key>
  <string>L_tnC_apI_.glif</string>
  <key>LtnCapJ</key>
  <string>L_tnC_apJ_.glif</string>
  <key>LtnCapK</key>
  <string>L_tnC_apK_.glif</string>
  <key>LtnCapL</key>
  <string>L_tnC_apL_.glif</string>
  <key>LtnCapM</key>
  <string>L_tnC_apM_.glif</string>
  <key>LtnCapN</key>
  <string>L_tnC_apN_.glif</string>
  <key>LtnCapO</key>
  <string>L_tnC_apO_.glif</string>
  <key>LtnCapP</key>
  <string>L_tnC_apP_.glif</string>
  <key>LtnCapQ</key>
  <string>L_tnC_apQ_.glif</string>
  <key>LtnCapR</key>
  <string>L_tnC_apR_.glif</string>
  <key>LtnCapS</key>
  <string>L_tnC_apS_.glif</string>
  <key>LtnCapT</key>
  <string>L_tnC_apT_.glif</string>
  <key>LtnCapU</key>
  <string>L_tnC_apU_.glif</string>
  <key>LtnCapV</key>
  <string>L_tnC_apV_.glif</string>
  <key>LtnCapW</key>
  <string>L_tnC_apW_.glif</string>
  <key>LtnCapX</key>
  <string>L_tnC_apX_.glif</string>
  <key>LtnCapY</key>
  <string>L_tnC_apY_.glif</string>
  <key>LtnSmA</key>
  <string>L_tnS_mA_.glif</string>
  <key>LtnSmAAcute</key>
  <string>L_tnS_mA_A_cute.glif</string>
  <key>LtnSmACircum</key>
  <string>L_tnS_mA_C_ircum.glif</string>
  <key>LtnSmADiaer</key>
  <string>L_tnS_mA_D_iaer.glif</string>
  <key>LtnSmAGrave</key>
  <string>L_tnS_mA_G_rave.glif</string>
  <key>LtnSmARingAbv</key>
  <string>L_tnS_mA_R_ingA_bv.glif</string>
  <key>LtnSmATilde</key>
  <string>L_tnS_mA_T_ilde.glif</string>
  <key>LtnSmB</key>
  <string>L_tnS_mB_.glif</string>
  <key>LtnSmC</key>
  <string>L_tnS_mC_.glif</string>
  <key>LtnSmD</key>
  <string>L_tnS_mD_.glif</string>
  <key>LtnSmE</key>
  <string>L_tnS_mE_.glif</string>
  <key>LtnSmF</key>
  <string>L_tnS_mF_.glif</string>
  <key>LtnSmG</key>
  <string>L_tnS_mG_.glif</string>
  <key>LtnSmH</key>
  <string>L_tnS_mH_.glif</string>
  <key>LtnSmI</key>
  <string>L_tnS_mI_.glif</string>
  <key>LtnSmJ</key>
  <string>L_tnS_mJ_.glif</string>
  <key>LtnSmK</key>
  <string>L_tnS_mK_.glif</string>
  <key>LtnSmL</key>
  <string>L_tnS_mL_.glif</string>
  <key>LtnSmM</key>
  <string>L_tnS_mM_.glif</string>
  <key>LtnSmN</key>
  <string>L_tnS_mN_.glif</string>
  <key>LtnSmO</key>
  <string>L_tnS_mO_.glif</string>
  <key>LtnSmP</key>
  <string>L_tnS_mP_.glif</string>
  <key>LtnSmQ</key>
  <string>L_tnS_mQ_.glif</string>
  <key>LtnSmR</key>
  <string>L_tnS_mR_.glif</string>
  <key>LtnSmS</key>
  <string>L_tnS_mS_.glif</string>
  <key>LtnSmT</key>
  <string>L_tnS_mT_.glif</string>
  <key>LtnSmU</key>
  <string>L_tnS_mU_.glif</string>
  <key>LtnSmV</key>
  <string>L_tnS_mV_.glif</string>
  <key>LtnSmW</key>
  <string>L_tnS_mW_.glif</string>
  <key>LtnSmX</key>
  <string>L_tnS_mX_.glif</string>
  <key>LtnSmY</key>
  <string>L_tnS_mY_.glif</string>
  <key>NonBreakingHyphen</key>
  <string>N_onB_reakingH_yphen.glif</string>
  <key>NumSgn</key>
  <string>N_umS_gn.glif</string>
  <key>PercentSgn</key>
  <string>P_ercentS_gn.glif</string>
  <key>PlusSgn</key>
  <string>P_lusS_gn.glif</string>
  <key>QstnMrk</key>
  <string>Q_stnM_rk.glif</string>
  <key>QuotMrk</key>
  <string>Q_uotM_rk.glif</string>
  <key>ReverseSolidus</key>
  <string>R_everseS_olidus.glif</string>
  <key>RtCurlyBrac</key>
  <string>R_tC_urlyB_rac.glif</string>
  <key>RtParen</key>
  <string>R_tP_aren.glif</string>
  <key>RtSqrBrac</key>
  <string>R_tS_qrB_rac.glif</string>
  <key>Semicolon</key>
  <string>S_emicolon.glif</string>
  <key>Solidus</key>
  <string>S_olidus.glif</string>
  <key>Space</key>
  <string>S_pace.glif</string>
  <key>Star</key>
  <string>S_tar.glif</string>
  <key>Tilde</key>
  <string>T_ilde.glif</string>
  <key>VertLine</key>
  <string>V_ertL_ine.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
</dict>
</plist>
