<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.DisplayStrings</key>
  <array>
    <string>A</string>
    <string>abcdefghijklmnopqrstuvwxyz</string>
    <string>dð</string>
    <string>e/LtnSmSchwa</string>
    <string>A/LtnCapA.alt</string>
  </array>
  <key>com.schriftgestaltung.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterID</key>
  <string>227CFDA3-9046-4C35-BCA7-2E12199138C9</string>
  <key>com.schriftgestaltung.useNiceNames</key>
  <false/>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>org.sil.glyphsappversion</key>
  <string>1131</string>
  <key>org.sil.lcg.toneLetters</key>
  <dict>
    <key>contourWidth</key>
    <integer>480</integer>
    <key>dotSize</key>
    <integer>180</integer>
    <key>dotSpacing</key>
    <integer>200</integer>
    <key>glyphDepth</key>
    <integer>-25</integer>
    <key>glyphHeight</key>
    <integer>1600</integer>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>marginDotLeft</key>
    <integer>120</integer>
    <key>marginDotRight</key>
    <integer>160</integer>
    <key>marginFlatLeft</key>
    <integer>120</integer>
    <key>marginFlatRight</key>
    <integer>160</integer>
    <key>marginPointLeft</key>
    <integer>100</integer>
    <key>marginPointRight</key>
    <integer>140</integer>
    <key>strokeThickness</key>
    <integer>120</integer>
  </dict>
  <key>public.postscriptNames</key>
  <dict>
    <key>AcuteAccent</key>
    <string>acute</string>
    <key>Bullet</key>
    <string>bullet</string>
    <key>BulletOperator</key>
    <string>uni2219</string>
    <key>CircumAccent</key>
    <string>asciicircum</string>
    <key>CombAcute</key>
    <string>acutecomb</string>
    <key>DblAcuteAccent</key>
    <string>hungarumlaut</string>
    <key>HyphenMinus</key>
    <string>hyphen</string>
    <key>LtnCapAAcute</key>
    <string>Aacute</string>
    <key>LtnCapEAcute</key>
    <string>Eacute</string>
    <key>LtnCapIAcute</key>
    <string>Iacute</string>
    <key>LtnCapOAcute</key>
    <string>Oacute</string>
    <key>LtnCapUAcute</key>
    <string>Uacute</string>
    <key>LtnCapYAcute</key>
    <string>Yacute</string>
    <key>LtnSmAAcute</key>
    <string>aacute</string>
    <key>LtnSmEAcute</key>
    <string>eacute</string>
    <key>LtnSmIAcute</key>
    <string>iacute</string>
    <key>LtnSmOAcute</key>
    <string>oacute</string>
    <key>LtnSmUAcute</key>
    <string>uacute</string>
    <key>LtnSmYAcute</key>
    <string>yacute</string>
    <key>ModCircumAccent</key>
    <string>circumflex</string>
    <key>ReverseSolidus</key>
    <string>backslash</string>
    <key>SupOne</key>
    <string>onesuperior</string>
    <key>SupThree</key>
    <string>threesuperior</string>
    <key>VulgFracOneHalf</key>
    <string>onehalf</string>
    <key>VulgFracOneQuarter</key>
    <string>onequarter</string>
    <key>VulgFracThreeQuarters</key>
    <string>threequarters</string>
  </dict>
</dict>
</plist>
