<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1161</string>
  <key>com.schriftgestaltung.customName</key>
  <string>Italic</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>700</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Space</string>
    <string>ExclamationMrk</string>
    <string>QuotMrk</string>
    <string>NumSgn</string>
    <string>DollarSgn</string>
    <string>PercentSgn</string>
    <string>Ampersand</string>
    <string>Apos</string>
    <string>LftParen</string>
    <string>RtParen</string>
    <string>Asterisk</string>
    <string>PlusSgn</string>
    <string>Comma</string>
    <string>HyphenMinus</string>
    <string>FullStop</string>
    <string>Solidus</string>
    <string>DigitZero</string>
    <string>DigitOne</string>
    <string>DigitTwo</string>
    <string>DigitThree</string>
    <string>DigitFour</string>
    <string>DigitFive</string>
    <string>DigitSix</string>
    <string>DigitSeven</string>
    <string>DigitEight</string>
    <string>DigitNine</string>
    <string>Colon</string>
    <string>Semicolon</string>
    <string>LTSgn</string>
    <string>EqSgn</string>
    <string>GTSgn</string>
    <string>QstnMrk</string>
    <string>AtSgn</string>
    <string>LtnCapA</string>
    <string>LtnCapA.alt</string>
    <string>LtnCapB</string>
    <string>LtnCapC</string>
    <string>LtnCapD</string>
    <string>LtnCapE</string>
    <string>LtnCapF</string>
    <string>LtnCapG</string>
    <string>LtnCapH</string>
    <string>LtnCapI</string>
    <string>LtnCapJ</string>
    <string>LtnCapK</string>
    <string>LtnCapL</string>
    <string>LtnCapM</string>
    <string>LtnCapN</string>
    <string>LtnCapO</string>
    <string>LtnCapP</string>
    <string>LtnCapQ</string>
    <string>LtnCapR</string>
    <string>LtnCapS</string>
    <string>LtnCapT</string>
    <string>LtnCapU</string>
    <string>LtnCapV</string>
    <string>LtnCapW</string>
    <string>LtnCapX</string>
    <string>LtnCapY</string>
    <string>LftSqrBrac</string>
    <string>ReverseSolidus</string>
    <string>RtSqrBrac</string>
    <string>CircumAccent</string>
    <string>LowLine</string>
    <string>GraveAccent</string>
    <string>LtnSmA</string>
    <string>LtnSmB</string>
    <string>LtnSmC</string>
    <string>LtnSmD</string>
    <string>LtnSmE</string>
    <string>LtnSmF</string>
    <string>LtnSmG</string>
    <string>LtnSmH</string>
    <string>LtnSmI</string>
    <string>LtnSmJ</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmQ</string>
    <string>LtnSmR</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmU</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmX</string>
    <string>LtnSmY</string>
    <string>LftCurlyBrac</string>
    <string>VertLine</string>
    <string>RtCurlyBrac</string>
    <string>Tilde</string>
    <string>LtnCapADiaer</string>
    <string>LtnSmAAcute</string>
    <string>LtnSmAGrave</string>
    <string>LtnSmACircum</string>
    <string>LtnSmADiaer</string>
    <string>LtnSmATilde</string>
    <string>LtnSmARingAbv</string>
    <string>DottedCirc</string>
    <string>Hyphen</string>
    <string>NonBreakingHyphen</string>
    <string>Hyphen_Soft</string>
    <string>CombAcute</string>
    <string>CombGrave</string>
    <string>CombCircum</string>
    <string>CombTilde</string>
    <string>CombDiaer</string>
    <string>CombRingAbv</string>
  </array>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Bold</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>700</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>org.sil.lcg.toneLetters</key>
  <dict>
    <key>contourWidth</key>
    <integer>540</integer>
    <key>dotSize</key>
    <integer>280</integer>
    <key>dotSpacing</key>
    <integer>200</integer>
    <key>glyphDepth</key>
    <integer>-25</integer>
    <key>glyphHeight</key>
    <integer>1600</integer>
    <key>italicAngle</key>
    <integer>14</integer>
    <key>marginDotLeft</key>
    <integer>100</integer>
    <key>marginDotRight</key>
    <integer>140</integer>
    <key>marginFlatLeft</key>
    <integer>100</integer>
    <key>marginFlatRight</key>
    <integer>140</integer>
    <key>marginPointLeft</key>
    <integer>80</integer>
    <key>marginPointRight</key>
    <integer>120</integer>
    <key>strokeThickness</key>
    <integer>200</integer>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Space</string>
    <string>ExclamationMrk</string>
    <string>QuotMrk</string>
    <string>NumSgn</string>
    <string>DollarSgn</string>
    <string>PercentSgn</string>
    <string>Ampersand</string>
    <string>Apos</string>
    <string>LftParen</string>
    <string>RtParen</string>
    <string>Asterisk</string>
    <string>PlusSgn</string>
    <string>Comma</string>
    <string>HyphenMinus</string>
    <string>FullStop</string>
    <string>Solidus</string>
    <string>DigitZero</string>
    <string>DigitOne</string>
    <string>DigitTwo</string>
    <string>DigitThree</string>
    <string>DigitFour</string>
    <string>DigitFive</string>
    <string>DigitSix</string>
    <string>DigitSeven</string>
    <string>DigitEight</string>
    <string>DigitNine</string>
    <string>Colon</string>
    <string>Semicolon</string>
    <string>LTSgn</string>
    <string>EqSgn</string>
    <string>GTSgn</string>
    <string>QstnMrk</string>
    <string>AtSgn</string>
    <string>LtnCapA</string>
    <string>LtnCapA.alt</string>
    <string>LtnCapB</string>
    <string>LtnCapC</string>
    <string>LtnCapD</string>
    <string>LtnCapE</string>
    <string>LtnCapF</string>
    <string>LtnCapG</string>
    <string>LtnCapH</string>
    <string>LtnCapI</string>
    <string>LtnCapJ</string>
    <string>LtnCapK</string>
    <string>LtnCapL</string>
    <string>LtnCapM</string>
    <string>LtnCapN</string>
    <string>LtnCapO</string>
    <string>LtnCapP</string>
    <string>LtnCapQ</string>
    <string>LtnCapR</string>
    <string>LtnCapS</string>
    <string>LtnCapT</string>
    <string>LtnCapU</string>
    <string>LtnCapV</string>
    <string>LtnCapW</string>
    <string>LtnCapX</string>
    <string>LtnCapY</string>
    <string>LftSqrBrac</string>
    <string>ReverseSolidus</string>
    <string>RtSqrBrac</string>
    <string>CircumAccent</string>
    <string>LowLine</string>
    <string>GraveAccent</string>
    <string>LtnSmA</string>
    <string>LtnSmB</string>
    <string>LtnSmC</string>
    <string>LtnSmD</string>
    <string>LtnSmE</string>
    <string>LtnSmF</string>
    <string>LtnSmG</string>
    <string>LtnSmH</string>
    <string>LtnSmI</string>
    <string>LtnSmJ</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmQ</string>
    <string>LtnSmR</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmU</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmX</string>
    <string>LtnSmY</string>
    <string>LftCurlyBrac</string>
    <string>VertLine</string>
    <string>RtCurlyBrac</string>
    <string>Tilde</string>
    <string>LtnCapADiaer</string>
    <string>LtnSmAAcute</string>
    <string>LtnSmAGrave</string>
    <string>LtnSmACircum</string>
    <string>LtnSmADiaer</string>
    <string>LtnSmATilde</string>
    <string>LtnSmARingAbv</string>
    <string>DottedCirc</string>
    <string>Hyphen</string>
    <string>NonBreakingHyphen</string>
    <string>Hyphen_Soft</string>
    <string>CombAcute</string>
    <string>CombGrave</string>
    <string>CombCircum</string>
    <string>CombTilde</string>
    <string>CombDiaer</string>
    <string>CombRingAbv</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>AcuteAccent</key>
    <string>acute</string>
    <key>Bullet</key>
    <string>bullet</string>
    <key>BulletOperator</key>
    <string>uni2219</string>
    <key>CircumAccent</key>
    <string>asciicircum</string>
    <key>CombAcute</key>
    <string>acutecomb</string>
    <key>DblAcuteAccent</key>
    <string>hungarumlaut</string>
    <key>HyphenMinus</key>
    <string>hyphen</string>
    <key>LtnCapAAcute</key>
    <string>Aacute</string>
    <key>LtnCapEAcute</key>
    <string>Eacute</string>
    <key>LtnCapIAcute</key>
    <string>Iacute</string>
    <key>LtnCapOAcute</key>
    <string>Oacute</string>
    <key>LtnCapUAcute</key>
    <string>Uacute</string>
    <key>LtnCapYAcute</key>
    <string>Yacute</string>
    <key>LtnSmAAcute</key>
    <string>aacute</string>
    <key>LtnSmEAcute</key>
    <string>eacute</string>
    <key>LtnSmIAcute</key>
    <string>iacute</string>
    <key>LtnSmOAcute</key>
    <string>oacute</string>
    <key>LtnSmUAcute</key>
    <string>uacute</string>
    <key>LtnSmYAcute</key>
    <string>yacute</string>
    <key>ModCircumAccent</key>
    <string>circumflex</string>
    <key>ReverseSolidus</key>
    <string>backslash</string>
    <key>SupOne</key>
    <string>onesuperior</string>
    <key>SupThree</key>
    <string>threesuperior</string>
    <key>VulgFracOneHalf</key>
    <string>onehalf</string>
    <key>VulgFracOneQuarter</key>
    <string>onequarter</string>
    <key>VulgFracThreeQuarters</key>
    <string>threequarters</string>
  </dict>
</dict>
</plist>
